<!DOCTYPE html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <title>Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <style>
        .cardFormat {
            padding: 20px
        }

        .box {
            width: 50%;
        }

        .compStyle {
            padding: 20px;
        }
    </style>
</head>

<body>

    <div id="app">
        <v-app style="background: linear-gradient(180deg, #7474BF 0%, #348AC7 100%);">

            <!--MAin BODY-->
            <v-main>
                <v-container>
                    <v-card dark
                        style="text-align: center; background: rgba(0,0,0,0.3); margin-left:20%; margin-right:20%"
                        class='cardformat'>
                        <v-alert v-if="errorAlert" border="left" close-text="Close Alert" color="pink darken-1" dark
                            dismissible>
                            {{errorMsg}}
                        </v-alert>
                        <h2 class="compStyle">Register Form</h2>
                        <v-expansion-panels style="background: rgba(0,0,0,0.1)">
                            <v-expansion-panel style="background: rgba(0,0,0,0.1); text-align:left">
                                <v-expansion-panel-header style="text-align: left;">
                                    <span>
                                        <v-icon>mdi-robot</v-icon> Register your Bot first before registering!
                                    </span>
                                </v-expansion-panel-header>
                                <v-expansion-panel-content>
                                    <ol>
                                        <li><a style='color: lightblue' href="https://telegram.me/scheduler34_bot"
                                                target="_blank">Add the bot @scheduler34_bot</a></li>
                                        <li>Send /start to the bot</li>
                                    </ol>
                                </v-expansion-panel-content>
                            </v-expansion-panel>
                        </v-expansion-panels>
                        <v-alert v-if="successMsg" border="left" close-text="Close Alert" color="green light-1" dark>
                            You've successfully registered! We'll redirect you to the login page shortly...
                            <a href="login.html">Click here if it doesn't redirect you automatically.</a>
                        </v-alert>
                        <v-col cols="12" md="6">

                        </v-col>
                        <v-form ref="form" v-model="valid">
                            <v-text-field v-model="username" :rules="fieldRules" label="Username:" required
                                class="compStyle"></v-text-field>

                            <v-text-field v-model="fullname" :rules="nameRules" label="Name:" required
                                class="compStyle"></v-text-field>

                            <v-text-field type="password" v-model="password" :rules="passwordRules" name="password"
                                label="Password:" required class="compStyle"></v-text-field>
                            <v-text-field type="password" v-model="rPassword" :rules="pRules" label="Repeat Password:"
                                required class="compStyle"></v-text-field>

                            <v-text-field v-model="tele_handle" :rules="teleRules" label="Telegram Handle: (Exclude @)" required
                                class="compStyle"></v-text-field>

                            <!-- give instructions first! -->

                            <v-btn class="compStyle" color="success" @click='eValidateSubmit' :disabled="!loginForm">
                                Register
                            </v-btn>

                            <v-btn class="compStyle" color="success" href="login.html">
                                Back to Login
                            </v-btn>

                        </v-form>
                    </v-card>
                </v-container>
            </v-main>
        </v-app>
    </div>

</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

<script>
    var FormApp = new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: {
            loginForm: true,
            username: '',
            passwordRules: [v => !!v || 'Password is required',
            v => (v && v.length > 7) || 'Password must be longer than 7 characters'
            ],
            teleRules: [v => !!v || 'Telegram Handle is required'],

            fieldRules: [v => !!v || 'Username is required'],
            nameRules: [v => !!v || 'Name is required'],
            tele_handle: '',
            password: '',
            rPassword: '',
            fullname: '',
            errorAlert: false,
            successMsg: false,
            errorMsg: '',
            valid: true,
        },
        computed: {
            pRules() {
                const rules = [];
                if (this.password) {
                    const rule =
                        v => (!!v && v) == this.password ||
                            'Password does not match'

                    rules.push(rule)
                }
                return rules;
            },
        },
        methods: {
            eValidateSubmit() {
                if (this.$refs.form.validate() == true) {
                    FormApp.errorAlert = false;
                    FormApp.successMsg = false;
                    FormApp.errorMsg = '';
                    registerUser();
                };
            },
        }
    }

    )



    //Register user into the database

    function registerUser() {

        //retrieve telehandler
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var result = '';

                var obj = JSON.parse(this.response);
                //console.log(obj);

                var check = obj.result.find(function (post, index) {
                    if (post.message.chat.username == FormApp.tele_handle) {
                        return post.message.chat.id;
                    }

                });


                if (check != null) {
                    result = check.message.chat.id;
                }

                //for (let index = 0; index < obj.result.length; index++) {
                //    if (FormApp.tele_handle == obj.result[index].message.chat.username) {
                //        var result = obj.result[index].message.chat.id;
                //        console.log(result);
                //    }  
                //}

                // if there is tele_id 

                if (result != '') {

                    var loadReq = new XMLHttpRequest();
                    loadReq.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            response = this.responseText;

                            //app congratulates you.
                            var xhttp = new XMLHttpRequest();

                            var chat_id = result;
                            var text = "Welcome! You've successfully linked your account to our bot!";


                            xhttp.open("GET", "https://api.telegram.org/bot1421065755:AAFKUQFBFs2KAr53AyrHhAlE-xMpgNSHv6s/sendMessage?text=" + text + '&chat_id=' + chat_id, true);
                            xhttp.send();

                            if (response.includes("has successfully registered!") == true) {
                                FormApp.successMsg = true;
                                setInterval(function () {
                                    window.location.href = "login.html";
                                }, 3000);
                            } else {
                                FormApp.errorAlert = true;
                                FormApp.errorMsg = response;
                            }
                        }

                    };
                    loadReq.open("POST", "include/register_process.php", true);
                    loadReq.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                    loadReq.send("username=" + FormApp.username + "&password=" + FormApp.password + "&tele_handle=" + result + "&fullname=" + fullname);
                }

                else {

                    FormApp.errorAlert = true;
                    FormApp.errorMsg = "It appears that your telehandle does not exist! Please follow the steps again!";

                }

            }


        };

        xmlhttp.open("GET", "https://api.telegram.org/bot1421065755:AAFKUQFBFs2KAr53AyrHhAlE-xMpgNSHv6s/getUpdates", true);
        xmlhttp.send();



    }
</script>
